.card {
  position: relative;
  top: 30px;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  background-image: linear-gradient(to right, coral, orange);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.35);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  top: 32px;
}
